.cardCont {
	width: 100%;
	gap: 20px;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 30px;
}

.card {
	min-width: 200px;
	background-color: #ffffff44;
	transition: all 0.5s;
	border-radius: 5px;
	overflow: hidden;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 1;
}

.largeCard {
	flex-direction: row;
}

.innerCard {
	padding: 10px 20px;
}

.card h3 {
	position: relative;
}
.card h3:after {
	position: absolute;
	right: 10px;
	content: ">";
	padding: 0px 5px;
	border-radius: 5px;
}

.card h3:hover:after {
	background-color: var(--hover-color);
}

.card:hover {
	background-color: #ffffffaa;
	border-radius: 10px;
}

.card img {
	width: 100%;
	height: 100px;
	margin-bottom: -5px;
	object-fit: cover;
}

.card .imageRight {
	width: unset;
	height: 100%;
}
