/* Generic styles */
html {
  scroll-behavior: smooth;
  --accent: #c84630;
  --background: #e2e1e1;
  --background-accent: #00346488;
  --grey-background-accent: #aaaaaa55;
  --nav-bar: #ffffffdd;
  --text: black;
  --hover-color: #ccc;
}
html.theme-dark {
  --accent: #c84630;
  --background: #003464;
  --background-accent: rgb(226, 225, 225);
  --grey-background-accent: #ffffff22;
  --nav-bar: #003464dd;
  --text: #eee;
  --hover-color: #557898;
}

body {
  padding: 0;
  margin: 0;
  color: var(--text);
  background-color: var(--background);
  font-family: "Trebuchet MS", sans-serif;
}

.content a {
  color: var(--color);
}

.buttonCont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  gap: 40px;
}

.button {
  display: block;
  padding: 0.35em 1.2em;
  border: 0.15em solid var(--accent);
  width: 200px;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: bolder;
  font-size: 20px;
  color: var(--accent);
  text-align: center;
  transition: all 0.2s;
  box-shadow: 5px 5px 5px #0000001a, inset 5px 5px 5px #0000001a;
}

.buttonNext {
  display: block;
  /*   padding: 0.35em 1.2em; */
  /*   margin: 0.15em; */
  box-sizing: border-box;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  color: var(--accent);
  text-align: center;
  transition: all 0.2s;
  text-shadow: 0 0 8px #000000;
  animation: wiggle 2.5s infinite;
}

.button:hover {
  color: black;
  border-color: #ffffff;
  background-color: #ffffff;
  text-shadow: none;
  box-shadow: 2px 2px 2px #0000001a;
}

.buttonNext:hover {
  text-shadow: 0 0 2px #000000;
}

a.button,
a.buttonNext {
  color: var(--accent);
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }

  80% {
    transform: rotate(0deg);
  }

  85% {
    transform: rotate(5deg);
  }

  95% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.spacer {
  content: " ";
  flex: 1;
}

.spacerStatic {
  height: 20px;
}

h4 {
  text-transform: capitalize;
}

/* Nav bar */
nav {
  width: 100%;
  background-color: #ffffff66;
  line-height: 60px;
  vertical-align: middle;
  font-size: 20px;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
  box-shadow: 5px 5px 5px #0000001a;
  z-index: 9;
  backdrop-filter: blur(20px);
}

nav:hover {
  background-color: #ffffffbb;
}

nav.scrolled {
  /* background-color: #bbc9d6; */
  background-color: var(--nav-bar);
}

nav h2 {
  padding-left: 20px;
  font-size: inherit;
  display: inline;
  color: var(--text);
}

nav h2 img {
  transform: translateY(2px);
  padding-right: 5px;
}

html.theme-dark nav h2 img {
  filter: invert(1);
}

nav a {
  padding: 0 20px;
  float: right;
  text-decoration: none;
  color: var(--text);
}

nav a:hover {
  background-color: var(--hover-color);
}

nav #logo {
  float: left;
}

.navSpacer {
  height: 70px;
  width: 100%;
  content: " ";
}

.sideNav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 10;
  pointer-events: none;
  background-color: transparent;
  transition: background-color 0.5s;
}

.sideNav.expand {
  background-color: #00000099;
  pointer-events: inherit;
}

.sideNavInner,
.sideNavInner > * {
  display: flex;
  width: 0;
  box-sizing: border-box;
  transition: width 1.5s, background-color 2.5s;
}

.sideNavInner {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;

  flex-direction: column;
  align-items: flex-end;

  max-width: 500px;
}

.sideNavInner > * {
  background-color: var(--background);
  box-shadow: 5px 5px 5px #00000044;
  justify-content: space-between;
}

.sideNav.expand .sideNavInner,
.sideNav.expand .sideNavInner > * {
  width: 100%;
}

.sideNavInner hr {
  border: 1px solid white;
  border-left: none;
  border-right: none;

  padding: 1px;
  width: 100%;
}

.sideNavInner h2,
.sideNavInner a {
  padding: 20px 25px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.sideNavInner h2 {
  margin-block-start: 0;
  margin-block-end: 0;

  padding-block-start: 1.3em;
  padding-block-end: 0.83em;
}

.sideNavInner h2 span {
  padding: 0 10px;
  border-radius: 10px;
}

.sideNavInner a {
  text-decoration: none;
  color: var(--text);
  font-size: 20px;
}

.sideNavInner h2 span:hover,
.sideNavInner a:hover {
  background-color: var(--hover-color);
}

.sideNavInner a i {
  vertical-align: middle;
  line-height: 24px;
}

.sideNavInner .spacer {
  background-color: transparent;
}

.sideNav.expand .spacer {
  background-color: var(--background);
}

/* main page */
.content {
  min-height: calc(100vh - 200px);
}

.page {
  padding: 20px 10vw;
}

model-viewer {
  width: 100%;
  height: 100%;
}

/* footer */
footer {
  width: 100%;
  min-height: 200px;
  box-sizing: border-box;
  background-color: var(--background);

  display: flex;
  flex-direction: column;
}

footer .title {
  margin-top: 15px;
  padding: 10px 30px;
  font-size: 20px;
  color: var(--text);
}

footer .links {
  padding: 5px 15px;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

footer .links a {
  padding: 10px 15px;
  display: block;
  color: var(--text);
  text-decoration: none;
  font-size: 18px;
}

footer .links a:hover {
  background-color: var(--hover-color);
}

footer .copyright {
  padding: 10px 30px;
  color: var(--text);
}

/* Day/Night Toggle */
footer .switchContainer {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
footer .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 25px;
}
footer .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

footer .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--text);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

footer .slider:before {
  position: absolute;
  content: "";
  height: 35px;
  width: 35px;
  left: -2px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 0px 15px #2020203d;
  background: white url("https://i.ibb.co/FxzBYR9/night.png");
  background-repeat: no-repeat;
  background-position: center;
}

footer input:checked + .slider {
  background-color: var(--accent);
}

footer input:focus + .slider {
  box-shadow: 0 0 1px var(--accent);
}

footer input:checked + .slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
  background: white url("https://i.ibb.co/7JfqXxB/sunny.png");
  background-repeat: no-repeat;
  background-position: center;
}

footer .slider.round {
  border-radius: 34px;
}

footer .slider.round:before {
  border-radius: 50%;
}

/* Styles for mobile */
@media only screen and (max-width: 600px) {
  .hero {
    justify-content: center;
  }

  .heroRight h1 {
    font-size: 60px;
  }

  .heroRight p {
    font-size: 30px;
  }

  nav a:not(:nth-child(-n + 2)) {
    display: none;
  }

  .steps .text {
    width: 70%;
    padding: 15%;
  }
}
