/* Generic styles */
html {
  scroll-behavior: smooth;
  --accent: #c84630; /* a nice orange accent */
}
body {
  padding: 0;
  margin: 0;
  color: #eee;
  background-color: #003464;
  font-family: "Trebuchet MS", sans-serif;
}
.content a {
  color: white;
}
.buttonCont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  gap: 40px;
}
.button {
  display: block;
  padding: 0.35em 1.2em;
  border: 0.15em solid var(--accent);
  width: 200px;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  font-size: 20px;
  color: var(--accent);
  text-align: center;
  transition: all 0.2s;
  box-shadow: 5px 5px 5px #0000001a, inset 5px 5px 5px #0000001a;
}
.buttonNext {
  display: block;
  /*   padding: 0.35em 1.2em; */
  /*   margin: 0.15em; */
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  font-size: 20px;
  color: var(--accent);
  text-align: center;
  transition: all 0.2s;
  text-shadow: 0 0 8px #000000;
}
.button:hover {
  color: black;
  border-color: #ffffff;
  background-color: #ffffff;
  box-shadow: 2px 2px 2px #0000001a;
}
.buttonNext:hover {
  text-shadow: 0 0 2px #000000;
}
a.button,
a.buttonNext {
  color: var(--accent);
}
.spacer {
  content: " ";
  flex: 1;
}
.spacerStatic {
  height: 20px;
}
h4 {
  text-transform: capitalize;
}

/* Nav bar */
nav {
  width: 100%;
  background-color: #ffffff88;
  line-height: 60px;
  vertical-align: middle;
  font-size: 20px;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
  box-shadow: 5px 5px 5px #0000001a;
  z-index: 9;
}
nav:hover {
  background-color: #ffffffbb;
}
nav.scrolled {
  background-color: #bbc9d6;
}
nav h2 {
  padding-left: 20px;
  font-size: inherit;
  display: inline;
  color: black;
}
nav h2 img {
  transform: translateY(2px);
  padding-right: 5px;
}
nav a {
  padding: 0 20px;
  float: right;
  text-decoration: none;
  color: black;
}
nav a:hover {
  background-color: #eeeeee;
}
nav #logo {
  float: left;
}
.navSpacer {
  height: 70px;
  width: 100%;
  content: " ";
}

.sideNav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 10;
  pointer-events: none;
  background-color: transparent;
  transition: background-color 0.5s;
}
.sideNav.expand {
  background-color: #00000099;
  pointer-events: inherit;
}
.sideNavInner,
.sideNavInner > * {
  display: flex;
  width: 0;
  box-sizing: border-box;
  transition: width 2s, background-color 2.5s;
}
.sideNavInner {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;

  flex-direction: column;
  align-items: flex-end;

  max-width: 500px;
}
.sideNavInner > * {
  background-color: #003464;
  box-shadow: 5px 5px 5px #00000044;
  justify-content: space-between;
}
.sideNav.expand .sideNavInner,
.sideNav.expand .sideNavInner > * {
  width: 100%;
}
.sideNavInner hr {
  border: 1px solid white;
  border-left: none;
  border-right: none;

  padding: 1px;
  width: 100%;
}
.sideNavInner h2,
.sideNavInner a {
  padding: 20px 25px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.sideNavInner h2 {
  margin-block-start: 0;
  margin-block-end: 0;

  padding-block-start: 1.3em;
  padding-block-end: 0.83em;
}
.sideNavInner h2 span {
  padding: 0 10px;
  border-radius: 10px;
}
.sideNavInner a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.sideNavInner h2 span:hover,
.sideNavInner a:hover {
  background-color: #557898;
}
.sideNavInner a i {
  vertical-align: middle;
  line-height: 24px;
}
.sideNavInner .spacer {
  background-color: transparent;
}
.sideNav.expand .spacer {
  background-color: #003464;
}

/* main page */
.content {
  min-height: calc(100vh - 200px);
}
.page {
  padding: 20px 10vw;
}

/* Hero (giant background) */
.hero {
  height: 100vh;
  display: flex;
  padding: 0 20vw;
  justify-content: flex-end;
}
.heroBackground {
  width: 150%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: -50%;
  z-index: -1;
  transition: all 0.5s;

  /*   background: url("https://cdn.glitch.global/3e382f9d-a3b6-424b-966a-b4704cfa4afc/cubemap.min.jpg?v=1664065155124"); */
  background-repeat: no-repeat;
  background-size: cover;
}
model-viewer {
  width: 100%;
  height: 100%;
}
.heroRight {
  z-index: 1;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.heroRight > * {
  text-shadow: 2px 2px 10px black;
}
.heroRight h1 {
  margin-block-end: 0;
  font-size: 80px;
}
.heroRight p {
  font-size: 30px;
}
.heroDown {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 5px;
  text-align: center;
  background-color: #222222;
  font-size: 25px;
  z-index: 1;
  text-decoration: none;

  opacity: 0.5;
  transition: all 0.5s;
}
.heroDown:hover {
  opacity: 1;
}

/* everyone, top section */
.everyone {
  padding: 40px 10vw;
}
.everyone > h2 {
  font-size: min(5vw, 60px);
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}
.everyone > p {
  max-width: 500px;
  text-align: center;
  margin: auto;
}
.nameSlide {
  display: inline-block;
  opacity: 0;
  width: 0;
  height: 0;
  overflow: auto;
  transition: opacity 1s;
  vertical-align: bottom;
  color: var(--accent);
}
.nameSlide.show {
  opacity: 1;
  width: fit-content;
  height: fit-content;
}

@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      calc(calc(var(--commentWidth) * var(--numComments)) * -1)
    );
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      calc(calc(var(--commentWidth) * var(--numComments)) * -1)
    );
  }
}
.slider {
  --commentWidth: 355px;
  --numComments: 4;
  /*     box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125); */
  height: 250px;
  margin: auto;
  margin: 2em 0;
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 1400px;
}
.slider::before,
.slider::after {
  background: linear-gradient(
    to right,
    #003464 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 100%;
  position: absolute;
  width: 80px;
  z-index: 2;
  pointer-events: none;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 22s linear infinite;
  animation: scroll 22s linear infinite;
  display: flex;
  gap: 20px;
  height: 100%;
  width: calc(calc(calc(var(--commentWidth) * var(--numComments)) * 2) - 20px);
}
.slider .slide {
  height: 100%;
  width: var(--commentWidth);
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  flex: 1 1;
  transition: all 0.5s;
  box-sizing: border-box;
}
.slider .slide .left {
  height: 50px;
  border-radius: 50%;
}
.slider .slide .right {
  flex: 1;
  padding: 5px;
}
.slider .slide:hover {
  background-color: #ffffff55;
}
.slider:hover .slide-track,
.slide-track.pause {
  animation-play-state: paused;
}

/* Steps Animation */
.steps {
  background-image: url("https://cdn.glitch.global/3e382f9d-a3b6-424b-966a-b4704cfa4afc/planetSky.jpg?v=1670698690808");

  min-height: 500px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  font-size: 125%;
  position: relative;
}
.steps > div {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.steps div:nth-child(2n) {
  background-color: #00000022;
  background: linear-gradient(to right, transparent, #00000033);
}

.steps .text {
  padding: 0 20%;
  width: 35%;
  max-width: 600px;
}

.steps .right {
  text-align: right;
  align-self: flex-end;
}

.steps .buttonCont {
  justify-content: flex-start;
}

.steps .right .buttonCont {
  justify-content: flex-end;
}

.steps img {
  stroke: white;
  filter: invert(1) brightness(0.9);
}

.steps .svgBackground {
  position: absolute;
  inset: 0;
  height: 320vh;
  filter: blur(3px) opacity(0.5);
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
}

/* packing, second section */
.packing {
  padding: 40px 10vw;
  min-height: 80vh;
}
.packing ul {
  padding-left: 0;
}
.packing li {
  padding: 10px;
  transition: all 0.5s;
  background-color: #ffffff44;
  list-style: none;
}
.packing li:hover {
  background-color: #ffffff66;
}
.packing .cardCont {
  width: 100%;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
}
.packing .card {
  min-width: 200px;
  background-color: #ffffff44;
  transition: all 0.5s;
  border-radius: 5px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
.packing .innerCard {
  padding: 10px 20px;
}
.packing .card:hover {
  background-color: #ffffff66;
  border-radius: 10px;
}
.packing .card img {
  width: 100%;
  height: 100px;
  margin-bottom: -5px;
  object-fit: cover;
}
.packing .button {
  min-width: 150px;
}
.packing .collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  padding: 10px 15px;
}
.packing .active,
.collapsible:hover {
  background-color: #ccc;
}
.packing .collapCont {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.packing .collapsible:after {
  content: "\f0d7";
  font-size: 13px;
  float: right;
  margin-left: 5px;
  font: var(--fa-font-solid);
}

.packing .active:after {
  content: "\f0d8";
}

/* launch dates, third section */
.launch {
  position: relative;
  background: url("https://cdn.glitch.global/3e382f9d-a3b6-424b-966a-b4704cfa4afc/launchpad.jpg?v=1663940876525");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 20px 10vw;
  color: #222222cc;
  min-height: 50vh;
}
.launch .textCont {
  position: relative;
  min-height: 32vw;
}
.launch .text {
  background-color: #000000ee;
  color: white;
  font-size: 10vw;
  font-weight: bolder;
  margin: 0 auto;
  padding: 10px;
  width: 70%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: multiply;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.launch .buttonCont a {
  flex: 1;
  color: #222222cc;
  border-color: #222222cc;
}
.launch .buttonCont a:hover {
  border-color: white;
}

/* footer */
footer {
  width: 100%;
  min-height: 200px;
  box-sizing: border-box;
  background-color: #bbc9d6;

  display: flex;
  flex-direction: column;
}
footer .title {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 20px;
  color: black;
}
footer .links {
  padding: 5px 15px;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
footer .links a {
  padding: 10px 15px;
  display: block;
  color: black;
  text-decoration: none;
  font-size: 18px;
}
footer .links a:hover {
  background-color: white;
}
footer .copyright {
  padding: 10px 20px;
  color: black;
}

/* Styles for mobile */
@media only screen and (max-width: 600px) {
  .hero {
    justify-content: center;
  }
  .heroRight h1 {
    font-size: 60px;
  }
  .heroRight p {
    font-size: 30px;
  }
  .steps .text {
    width: 70%;
    padding: 15%;
  }
}
