/* Hero (giant background) */
.hero {
  height: 100vh;
  display: flex;
  padding: 0 20vw;
  justify-content: flex-end;
  color: #eee;
}

.heroBackground {
  width: 150%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: -50%;
  z-index: -1;
  transition: all 0.5s;

  /*   background: url("https://cdn.glitch.global/d7070554-ac67-4c73-a3d6-aadfe190dab5/cubemap.webp?v=1673518418783"); */
  background-repeat: no-repeat;
  background-size: cover;
}

.heroRight {
  z-index: 1;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.heroRight > * {
  text-shadow: 2px 2px 10px black;
}

.heroRight h1 {
  margin-block-end: 0;
  font-size: 80px;
}

.heroRight p {
  font-size: 30px;
}

.heroDown {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 5px;
  text-align: center;
  background-color: #222222;
  font-size: 18px;
  z-index: 1;
  text-decoration: none;

  opacity: 0.5;
  transition: all 0.5s;
}

.heroDown:hover {
  opacity: 1;
}

/* everyone, top section */
.everyone {
  padding: 40px 10vw;
  background-image: radial-gradient(
    3px 3px at center,
    var(--grey-background-accent) 1px,
    transparent
  );
  background-size: 50px 70px;
  background-attachment: fixed;
}

.everyone > h2 {
  font-size: min(4vw, 60px);
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.everyone > p {
  max-width: 500px;
  text-align: center;
  margin: auto;
}

.nameSlide {
  display: inline-block;
  opacity: 0;
  width: 0;
  height: 0;
  overflow: auto;
  transition: opacity 1s;
  vertical-align: bottom;
  color: var(--accent);
}

.nameSlide.show {
  opacity: 1;
  width: fit-content;
  height: fit-content;
}

@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(
      calc(calc(var(--commentWidth) * var(--numComments)) * -1)
    );
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(
      calc(calc(var(--commentWidth) * var(--numComments)) * -1)
    );
  }
}

.slider {
  --commentWidth: 365px;
  --numComments: 5;
  /*     box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125); */
  height: 250px;
  margin: auto;
  margin: 2em 0;
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 1400px;
}

.slider::before,
.slider::after {
  background: linear-gradient(
    to right,
    var(--background) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 100%;
  position: absolute;
  width: 80px;
  z-index: 2;
  pointer-events: none;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slideTrack {
  -webkit-animation: scroll 22s linear infinite;
  animation: scroll 22s linear infinite;
  display: flex;
  gap: 20px;
  height: 100%;
  width: calc(calc(calc(var(--commentWidth) * var(--numComments)) * 2) - 20px);
}

.slider .slide {
  height: 100%;
  width: var(--commentWidth);
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  flex: 1 1;
  transition: all 0.5s;
  box-sizing: border-box;
}

.slider .slide .left {
  height: 65px;
  width: 65px;
  border-radius: 50%;
}

.slider .slide .right {
  flex: 1;
  padding: 5px;
}

.slider .slide:hover {
  background-color: #ffffff55;
}

.slider:hover .slideTrack,
.slideTrack.pause {
  animation-play-state: paused;
}

/* Steps Animation */
.steps {
  background-image: url("https://cdn.glitch.global/d7070554-ac67-4c73-a3d6-aadfe190dab5/planetSky.webp?v=1673522201183");

  min-height: 500px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  font-size: 125%;
  position: relative;

  color: #ddd;
}

.steps > div {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.steps div:nth-child(2n) {
  background-color: #00000022;
  background: linear-gradient(to right, transparent, #00000033);
}

.steps .text {
  padding: 0 20%;
  width: 35%;
  max-width: 600px;
}

.steps .right {
  text-align: right;
  align-self: flex-end;
}

.steps .buttonCont {
  justify-content: flex-start;
}

.steps .right .buttonCont {
  justify-content: flex-end;
}

.steps img {
  stroke: white;
  filter: invert(1) brightness(0.9);
}

.steps .svgBackground {
  position: absolute;
  inset: 0;
  height: 320vh;
  filter: blur(3px) opacity(0.5);
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  pointer-events: none;
}

/* packing, second section */
.packing {
  padding: 40px 10vw;
  min-height: 80vh;
  background-color: #e5e5f7;
  background-image: radial-gradient(
      circle at -5% -5%,
      var(--background),
      var(--background-accent)
    ),
    repeating-radial-gradient(
      circle at -5% -5%,
      white,
      #e2e1e144,
      10px,
      transparent 40px,
      transparent 10px
    );
  background-blend-mode: multiply;
  background-attachment: fixed;
}

.packing ul {
  padding-left: 0;
}

.packing li {
  padding: 10px;
  transition: all 0.5s;
  background-color: #ffffff44;
  list-style: none;
}

.packing li:hover {
  background-color: #ffffff66;
}

.packing .cardCont {
  width: 100%;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
}

.packing .card {
  min-width: 200px;
  background-color: #ffffff44;
  transition: all 0.5s;
  border-radius: 5px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.packing .innerCard {
  padding: 10px 20px;
}

.packing .card:hover {
  background-color: #ffffff66;
  border-radius: 10px;
}

.packing .card img {
  width: 100%;
  height: 100px;
  margin-bottom: -5px;
  object-fit: cover;
}

.packing .button {
  min-width: 150px;
}

.packing .collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  padding: 10px 15px;
  position: relative;
}

.packing .active,
.collapsible:hover {
  background-color: #ccc;
}

.packing .collapCont {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.packing .collapsible:after {
  content: "";
  position: absolute;
  right: 10px;
  top: 14px;
  border-top: 8px solid var(--text);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  transition: all 0.5s;
}

.packing .collapsible.active:after {
  transform: rotate(0.5turn);
}

/* launch dates, third section */
.launch {
  position: relative;
  background: url("https://cdn.glitch.global/d7070554-ac67-4c73-a3d6-aadfe190dab5/launchpad.jpg?v=1673518444150");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 20px 10vw;
  color: #222222cc;
  min-height: 50vh;
}

.launch .textCont {
  position: relative;
  min-height: 32vw;
}

.launch .text {
  background-color: #000000ee;
  color: white;
  font-size: 10vw;
  font-weight: bolder;
  margin: 0 auto;
  padding: 10px;
  width: 70%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: multiply;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.launch .buttonCont a {
  flex: 1;
  color: #222222cc;
  border-color: #222222cc;
}

.launch .buttonCont a:hover {
  border-color: white;
}

/* Styles for mobile */
@media only screen and (max-width: 600px) {
  .hero {
    justify-content: center;
  }

  .heroRight h1 {
    font-size: 60px;
  }

  .heroRight p {
    font-size: 30px;
  }

  .steps .text {
    width: 70%;
    padding: 15%;
  }
}
