.backgroundCont {
  background: url("https://cdn.glitch.global/d7070554-ac67-4c73-a3d6-aadfe190dab5/nasa_sls5.webp?v=1675294883505");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: calc(100vh - 212px);
  /* margin-bottom: -200px; */
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc55;

  border-radius: 5px;
  padding: 30px;
  margin: 25px 0;
}

.login__container h1 {
  margin-block-start: 0;
}

.input__container {
  display: flex;
  /* gap: 10px;   */
  margin-bottom: 20px;
}

.input__container i {
  background-color: var(--accent);
  padding: 10px;
  font-size: 18px;
  width: 20px;
  color: white;
}

.login__textBox {
  padding: 10px;
  font-size: 18px;
  border: none;
  flex: 1;

  color: var(--text);
  border: none;
  border-bottom: 2px var(--accent) solid;
  background-color: var(--input-bc);
}

.login__btn {
  width: 100%;
  margin-bottom: 20px;
  border: 2px solid var(--accent);
  background-color: transparent;
}

.login__google {
  background-color: #4285f4;
  color: white;
  border-color: #4285f4;
  box-shadow: 5px 5px 5px #0000001a;
}

.login__btn:active {
  background-color: #333;
}

.login__google:active {
  background-color: #2265c4;
}

.login div {
  margin-top: 7px;
}