.solarSystem {
	--height: 140px;
	--margin-top: calc(var(--height) * 1.5);
	position: relative;
	display: flex;
	flex-direction: column;
	margin-top: var(--margin-top);
}

.solarSystem > div {
	position: absolute;
	content: "";
	width: 100%;
	aspect-ratio: 1 / 1;
}
