.solarSystem {
    --height: 130px;
    --margin-top: calc(var(--height) * 1.5);
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: var(--margin-top);
}

.solarSystem::after {
    content: "";
    position: absolute;
    inset: 0;
    top: calc(var(--margin-top) * -1);
    /* background: radial-gradient(circle at center calc(100% - calc(var(--height) * 2)), #1e8fff88, var(--background) 80%),
        linear-gradient(to bottom, #1e8fff88, var(--background)); */
    z-index: -1;
}

.solarSystem div {
    /* z-index: 1; */
    content: "h";
    height: calc(var(--height) * 2);
    background-color: #1e90ff;
    /* background: radial-gradient(circle at bottom center, #1e90ff, #1e8fff37 50%, transparent); */
    border-radius: 50% 50% 0 0;
    border-top: white 2px solid;
    margin-top: calc(var(--margin-top) * -1);
    position: relative;
}

.solarSystem>div:not(.earth) {
    background: linear-gradient(to right, var(--background) 20%, #1e90ff, var(--background) 80%);

}

.solarSystem div.earth {
    height: unset;
    background: none;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    padding: 20px;
}

.solarSystem div.earth img {
    height: 100%;
    width: 100%;
    border-radius: 100%;
    /* background-color: dodgerblue; */
    /* box-shadow: 0 0 20px #1e90ff; */
}

.solarSystem div.earth::after {
    z-index: -1;
    position: absolute;
    content: "";
    inset: 25px;
    border-radius: 100%;
    box-shadow: 0 0 20px #1e90ff;

}

.solarSystem div:hover {
    background-color: red;
}