.ticketForm label {
	font-weight: bolder;
	display: flex;
	align-items: center;
	gap: 5px;
}

.ticketForm>div {
	margin-bottom: 20px;
	padding: 5px 0;
}

.ticketForm select,
.ticketForm button,
.overlayRight button {
	padding: 8px 10px;
	background-color: var(--background);
	/* color: var(--text); */
	border-radius: 5px;
	border: 2px solid var(--accent);
}

.ticketForm button,
.overlayRight button {
	box-shadow: 5px 5px 5px #0000001a;
}

.ticketForm select {
	width: 100%;
	padding: 15px 10px 8px 10px;
	background-color: var(--input-bc);
	border-radius: 0;
	border: none;
	border-bottom: 2px var(--accent) solid;
	color: var(--text);
}

.ticketForm button[type="submit"] {
	width: 100%;
}

.ticketForm button[type="submit"] div,
.overlayBar .overlayRight button div {
	display: flex;
	gap: 5px;
	font-size: 15px;
	justify-content: center;
	align-items: center;
}

.ticketForm .numInput {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.ticketForm .numInput input {
	flex: 1;
	padding: 4px;
	padding-bottom: 0;
	background-color: var(--input-bc);
	border-radius: 0;
	border: none;
	border-bottom: 2px var(--accent) solid;
	color: var(--text);
}

.ticketForm .numInput button {
	width: unset !important;
}

.ticketForm .collapCont {
	margin: 15px 0;
}

.ticketForm .checkContainer {
	display: flex;
	gap: 20px;
	position: relative;
	margin-bottom: 12px;
	align-items: center;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.ticketForm .checkContainer input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.ticketForm .checkmark {
	height: 20px;
	width: 20px;
	background-color: #eee;
}

.ticketForm .checkContainer:hover input~.checkmark {
	background-color: #ccc;
}

.ticketForm .checkContainer input:checked~.checkmark {
	background-color: var(--accent);
}

.ticketForm .checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.ticketForm .checkContainer input:checked~.checkmark:after {
	display: block;
}

.ticketForm .checkContainer .checkmark:after {
	left: 6px;
	top: 2px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.solarSystem {
	position: relative;
	height: min(100%, 800px);
	width: 100%;
	aspect-ratio: 5 / 7;
	overflow: hidden;
	transition: all .2s;
}

.solarSystem input {
	display: none;
}

.solarSystem input:checked+label {
	border-width: 5px;
	background-color: #21c0ff;
}

.solarSystem label {
	display: block;
}

.solarSystem>label {
	box-sizing: border-box;
	position: absolute;
	bottom: 0%;
	left: 50%;
	transform: translate(-50%, 50%);

	content: "";
	aspect-ratio: 1 / 1;
	border: 2px solid white;
	border-radius: 50%;
	transition: all .1s;

	background-image:
		radial-gradient(circle at center, transparent, #003464),
		radial-gradient(white, #ffffff88 1px, transparent 2px),
		radial-gradient(white, #ffffff44 1px, transparent 4px),
		radial-gradient(white, #ffffffff 1px, transparent 4px);
	background-size: 100% 100%, 320px 200px, 140px 120px, 300px 300px;
	background-position: 0 0, 90px 60px, 10px 270px, 60px 40px;
}

.solarSystem>label.moon {
	height: 200%;
}

.solarSystem>label.iss {
	height: 160%;
}

.solarSystem>label.strat {
	height: 120%;
}

.solarSystem>label.earth {
	height: 80%;
}

.solarSystem>label.earth img {
	width: 100%;
	height: auto;
	aspect-ratio: 1 / 1;
}

.solarSystem>label .memo {
	position: absolute;
	left: 50%;
	top: 5%;
	transform: translate(-50%, -40%);
	text-align: center;
	color: white;
}

.solarSystem>label:not(.earth):hover {
	border-width: 5px;
}

.overlayBar {
	position: sticky;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: var(--background);
	box-shadow: 0 -4px 5px #0000001a, 0 4px 5px #0000001a;
	z-index: 1;
	display: flex;
}

.overlayBar .overlayLeft {
	display: flex;
	gap: 20px;
	align-items: center;
	justify-content: flex-start;
	padding: 10px;
	color: var(--accent);
}

.overlayBar .overlayLeft a {
	text-decoration: none;
	font-weight: bolder;
}

.overlayBar .overlayRight {
	display: flex;
	gap: 20px;
	align-items: center;
	justify-content: flex-start;
	padding: 10px;
}